page-indicadores {
	overflow: scroll !important;
	background: #ffffff;

	.box-indicador{
		color: #ffffff;
		&_icone{
			margin-top: 10px;
			float: left;
			background: #ffffff;
			color: #ffffff;
			padding: 20px;
			ion-icon{
				padding: 5px;
				border-radius: 50%;
				height: 25px;
				min-width: 25px;
				text-align: center;
			}
		}

		&_info{
			margin-top: 10px;
			padding:0 20px;
			float: left;
			span{
				display: inline-block;
				margin-top: 5px;
				font-size: 30px;
			}
		}
	}

	.no-margin-last{
		&:last-child {
			margin-bottom: 0px !important;

		}
	}
}