<ion-content padding>

	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content
			pullingIcon="arrow-dropdown"
			pullingText="Puxe para atualizar"
			refreshingSpinner="circles"
			refreshingText="Estamos atualizando...">
		</ion-refresher-content>
	</ion-refresher>

	<ion-grid>
		<!-- indicador   *ngFor="let indicador of indicadores" -->
		<ion-row class="box-padrao" margin-bottom *ngFor="let indicador of indicadores">
			<ion-col  padding  [style.background]="indicador.cor" >

				<div class="box-indicador">
					<div class="box-indicador_titulo">
						<b>{{ indicador.titulo }}</b>
					</div>
					<div class="box-indicador_icone">
						<ion-icon name="{{ indicador.icone }}"  [style.background]="indicador.cor" ></ion-icon>
					</div>
					<div class="box-indicador_info">
						<b>
							{{ indicador.subtitulo }}<br>
							<span>{{ indicador.valor }}</span>
						</b>
					</div>
				</div>

			</ion-col>
		</ion-row>

	</ion-grid>

</ion-content>
