page-avisos {
	overflow: scroll !important;
	background: #ffffff;
}

.scroll-page{
	height: 94% !important;
	overflow: scroll;
}

// ajuste Lirix
ion-label {
	width: 150px;
}

.list-avatar-page ion-note {
	font-size: 12px;
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
	margin-top: 14px;
}